<div class="w-50 mt-4 mx-auto border px-5 py-3 rounded-3">

  <h1 class="text-center mb-5 fw-bolder">My App Web</h1>

  <nav class="d-grid mb-4">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" routerLink="users" checked>
      <label class="btn btn-outline-primary" for="btnradio1">Users</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" routerLink="posts">
      <label class="btn btn-outline-primary" for="btnradio2">Posts</label>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
